<html>
  <head>
    <link rel="stylesheet" href="/other.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <h3>Repositories</h3>


      <% repo_list.each do |repo| %>
      <p> <%= repo %> </p>
      <% end %>



  </body>
</html>
