<html>
  <head>
    <link rel="stylesheet" href="/some.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body class='russell-tears'>
    <h1>Find the repos!</h1>
    <h3>Enter a username</h3>




    <p>The name of the first repo is <%= repo_list[0] %></p>


    <form action="/get_repository" method="post">
      <input type="text" name="username" value="">
      <input type="submit" name="submit_button" value="Go">
    </form>

  </body>
</html>
